
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  
  .imgContainer {
    flex: 1;
    position: relative;
    height: 400px;
  }
  .img{
    border-radius: 30%;
    object-fit: cover;
  }
  
  .formContainer {
    flex: 1;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
 
  
  .form input, .form textarea {
    padding: 10px;
    border-radius: 5px;
    bottom: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
  }
  
  .button {
    padding: 10px ;
    background-color: var(--btn);
    color: var(--text);
    border: none;
    border-radius: 5%;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .container{
        flex-direction: column;
    }
    
}
  