.container{
    /* background-color: aqua; */
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center; 
    align-items: center;
    min-width: 80px;
    background-color: #DFA;
    border-radius: 10%;
}